*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: blanchedalmond;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  outline: none;
  background: transparent;
  margin: 5px;
  padding: 4px;
}

header {
  padding: 20px;
}

.navbar-toggler-icon {
  border: 1px solid black;
}

.nav-item {
  margin: 0 15px;
  color: black;
  cursor: pointer;
  width: 80px;
}

.active {
  border: none;
  border-bottom: 1px solid black;
}

footer {
  color: #fff;
  background-color: #333;
  text-align: center;
  padding: 20px;
}

p a {
  color: #daa520;
}

/* MAIN  */

#item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: '. item .';
}

img {
  width: 60%;
  height: auto;
}

.item {
  list-style: none;
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-div {
  font-size: 38px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: 200ms ease-in;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  z-index: 10;
  background-color: aliceblue;
  max-width: 80%;
}

.modal-div.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  font-size: 1.4rem;
  font-weight: bold;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.like-btn {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 800px) {
  #item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav {
    margin-left: 30px;
  }
}
